body {
    margin: 0;
    background-color:white;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1 {
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive; 
    font-size: 562.5%;  /*Dynammic font size for 90px = (100*90)/16=562.5   */
    /*For em font-size for 90px = 5.625em */
    color: #66BFBF;
}
h2 {

    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;    /* 40/16 = 2.5rem */
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p {
    line-height: 2; 
}
a {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
.intro {
    width:30%;
    margin:auto;
}
.contact-desc {
    width:40%;
    margin:40px auto 60px;
}
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.middle-container {
    position: relative;
    margin: 100px 0 100px 0;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    line-height: 3;
    color:#11999E;
    
}

.under-line {
    text-decoration: underline;
}
.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}
.profile-image {
    width: 15%;
    border-radius: 100%;
}
.top-cloud {
    position: absolute;
    top:40px;
    right:300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

    
}
.code-img {
    float: left;
    margin-right: 30px;
    width: 25%;
}
.chilli-img {
    margin-left: 30px;
    float: right;
    width: 25%;
}
.contact-button {
    background: #d9b834;
    background-image: -webkit-linear-gradient(top, #d9b834, #b8892b);
    background-image: -moz-linear-gradient(top, #d9b834, #b8892b);
    background-image: -ms-linear-gradient(top, #d9b834, #b8892b);
    background-image: -o-linear-gradient(top, #d9b834, #b8892b);
    background-image: linear-gradient(to bottom, #d9b834, #b8892b);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #910000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: dotted #8d918b 1px;
    text-decoration: none;
    display: inline-block;
}
  
.contact-button:hover {
    background: #fc793c;
    background-image: -webkit-linear-gradient(top, #fc793c, #d93479);
    background-image: -moz-linear-gradient(top, #fc793c, #d93479);
    background-image: -ms-linear-gradient(top, #fc793c, #d93479);
    background-image: -o-linear-gradient(top, #fc793c, #d93479);
    background-image: linear-gradient(to bottom, #fc793c, #d93479);
    text-decoration: none;
}
.dotted-line{
    border-top: dotted;
    border-width: 0;
    border-top-width: 10px;
    margin: 100px auto;
    color: #EAF6F6;
    width: 5%;

}
.copy-right {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
